*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 300vh;
    width: 100%;
    padding-top: 50px;
}

.navbar{
    background-color: black;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li{
    display: inline;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.navbar li:hover{
    border-bottom: 1px solid white;
}

.navbar a{
    color: white;
    text-decoration: none;
}