<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Para ajustar al compartir tu web mas SEO-->
    <meta name="robots" content="index, follow">
    <meta name="author" content="Nioy">
    <meta name="copyright" content="Nioy">
    <meta name="description" content="Info que saldrá al compartir la web.">
    <meta name="theme-color" content="#000000">
    <meta name="keywords" content="Palabra, separadas, por, comas">
    <meta property="og:title" content="{{ Titulo_Web }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="description de la web.">

    <!--Card al compartir en twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="TItulo de la web">
    <meta name="twitter:description" content="Una breve descripcion de la web.">
    <meta name="twitter:site" content="@Nioy_">
    <meta name="twitter:creator" content="@Nioy_">
    <!--Link de la img al compartir en twitter-->
    <meta name="twitter:image" content="{{ url_for('static', filename='turuta/tuimg.png') }}">

    <!--Link de css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Estilo.css') }}">

    <!--Link del icono de la web-->
    <link rel="icon" href="{{ url_for('static', filename='turuta/tuimg.png') }}" type="image/png">
    <title>{{ Titulo_Web }}</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/">Apartado</a></li>
            <li><a href="/">Apartado 2</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>